.CurrentDisplay {
  width: 100%;
  background: #1e182b;
  color:#fff;
  padding: 1em;

  .CurrentWeather {
    display: flex;
    flex-direction: column;

    h3 {
      margin:0;
      font-size: 2em;
      font-weight: 300;
    }
    h4 {
      margin:0;
      font-weight: 100;
      font-size: 1em;
    }
    span {
      margin:0;
      font-size: 5em;
      font-weight: 300;
    }
  }

  .Today-Container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 1.25em;

    .todayDay {
      margin: 0;
      span {
        text-transform: uppercase;
        padding-left: 1em;
      }
    }

    .tempLevels {
        display: flex;
      h6:first-child {
        padding-right: 1em;
      }
      .tempHigh {
        margin:0;
      }
      .tempLow {
        margin:0;
      }
    }

  }

}
