.WeekDetail {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .todayDay {
    margin: 0;
    font-size: 1em;
    font-weight: 400;
    width: 19%;
    text-align: left;
  }

  .weatherIcon {
    display: block;
    width: 40px;

    img {
      width: 75%;
      line-height: 1;
      height: 41px;
      padding: .55em 0;
    }

  }

  .tempLevels {
    display: flex;

    h6 {
      font-size: 1em;
      font-weight: 500;
    }

    h6:first-child {
      padding-right: 1.5em;
    }

    .tempHigh {
      margin: 0;
    }

    .tempLow {
      margin: 0;
  opacity: .6;
    }
  }
}
