.HourlyReport {
  display: flex;
  width: 100%;
  padding: 1em;
  overflow-x: scroll;
  background: #1d162b;
  color: #fff;
  border-top: #cccccc solid 1px;
  border-bottom: #cccccc solid 1px;
}

.HourDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: .5em;

  h4 {
    margin: 0;
    font-weight: 100;
    font-size: .9em;
  }

  h3 {
    margin: 0;
    font-weight: 500;
    font-size: 1em;
  }

  .weatherIcon {
    width: 50px;
    height: 50px;

    .clear-night {
      background-image: url('./media/icons/clear-night.png');
      width: 50px;
      height: 50px;
      display: block;
      background-repeat: no-repeat;
    }

  }

}
